/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand: #4b4aeb;
  --vp-c-brand-light: #5b88f7;
  --vp-c-brand-lighter: #36a1ff;
  --vp-c-brand-lightest: #69b9ff;
  --vp-c-brand-dark: #038aff;
  --vp-c-brand-darker: #038aff;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand);
  --vp-button-brand-text: var(--vp-c-text-dark-1);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-text-dark-1);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

:root {
  --vp-c-bg-alt: #f4f4f5;
  --vp-c-bg: white;
  --docsearch-modal-background: red;
}

.dark {
  --vp-c-bg-alt: #0a0a0a;
  --vp-c-bg: #18181b;
  --docsearch-modal-background: red;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--vp-c-brand) 30%,
    var(--vp-c-brand-light)
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--vp-c-brand) 50%,
    var(--vp-c-brand-light) 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}

.VPHero .text {
  line-height: 58px;
  margin-top: 8px !important;
}

.VPHero .image-bg {
  opacity: 0.4;
  animation: logo 6s infinite;
}

.VPHomeSponsors .message {
  max-width: 550px;
}

@media (min-width: 768px) {
  [src*="newlogic.svg"] {
    transform: scale(1.5);
  }
}

@keyframes logo {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.4;
  }
}

.VPFeature {
  border-radius: 4px !important;
}

.VPButton {
  border-radius: 4px !important;
}

.vp-doc div[class*="language-"] {
  border-radius: 4px;
  background-color: #27272a;
}

.VPButton {
  line-height: 32px !important;
}

.DocSearch-Search-Icon,
.DocSearch-LoadingIndicator {
  width: 18px !important;
}

.DocSearch-Container {
  background-color: rgba(39, 39, 42, 0.7);
  backdrop-filter: blur(5px);
}

.DocSearch-Modal {
  border-radius: 4px;
}

.DocSearch-Commands-Key {
  background-color: var(--vp-c-bg-alt);
  border-radius: 4px;
}

.DocSearch-Form {
  height: max-content;
  padding: 8px;
}

.DocSearch-Button-Keys {
  content: " " !important;
}

html {
  scroll-behavior: smooth;
}

.tagline {
  color: black !important;
}

.dark .tagline {
  color: white !important;
}

.VPFeature {
  border: solid 1px rgba(255, 0, 0, 0);
  transition: border 500ms ease-out;
}

.VPFeature:hover {
  border: solid 1px var(--vp-c-brand) !important;
}

.DocSearch-Commands-Key {
  color: var(--vp-c-brand);
}

.copy {
  background-color: transparent !important;
}
